<ion-header>
  	<ion-toolbar>
	    <ion-title class="ion-no-padding">
	    	<ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
	    		<ion-col size="2" class="ion-no-padding">
	    			<ion-back-button style="color: #fff"></ion-back-button>
	    		</ion-col>
	    		<ion-col size="10" class="ion-no-padding">
	    			<img class="ion_topbar_avatar" src="assets/icon/artcab.png">
	    		</ion-col>
	    	</ion-row>    	
	    </ion-title>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid style="height: 100%;">
	  	<ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
	    	<ion-col style="padding: 20px;">	  
	    		<div style="text-align: center;"><ion-text style="color: #ff80ab; font-size: 14px;">{{login_error}}</ion-text></div>
	    		<ion-item class="user" style="margin-top: 10px;">
		  			<ion-label position="floating"><ion-icon name="md-person"></ion-icon>&nbsp;Username</ion-label>
		  			<ion-input type="text" id="usr" name="usr" [(ngModel)]="usr"></ion-input>
				</ion-item>
				<ion-item class="pass">
		  			<ion-label position="floating"><ion-icon name="md-lock"></ion-icon>&nbsp;Password</ion-label>
		  			<ion-input type="password" id="pwd" name="pwd" [(ngModel)]="pwd"></ion-input>
				</ion-item>	
	    		<ion-button color="medium" expand="block" shape="round" (click)="login()" style="margin-top: 20px;"><ion-icon name="md-log-in"></ion-icon>&emsp;Login</ion-button>	    		
	    	</ion-col>	    	
	  	</ion-row>
	</ion-grid>
</ion-content>
