<ion-header>
  	<ion-toolbar>
	    <ion-title class="ion-no-padding">
	    	<ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
	    		<ion-col size="2" class="ion-no-padding">
	    			<ion-back-button style="color: #fff"></ion-back-button>
	    		</ion-col>
	    		<ion-col size="10" class="ion-no-padding">
	    			<img class="ion_topbar_avatar" src="assets/icon/artcab.png">
	    		</ion-col>
	    	</ion-row>    	
	    </ion-title>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid style="height: 100%;">
	  	<ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
	    	<ion-col style="padding: 50px;">
	    		<ion-button color="medium" expand="block" shape="round" (click)="tabPage()"><ion-icon name="git-network"></ion-icon>&emsp;Network</ion-button>
	    		<ion-button color="medium" expand="block" shape="round" style="margin-top: 20px;"><ion-icon name="md-bulb"></ion-icon>&emsp;Ideate</ion-button>
	    		<ion-button color="medium" expand="block" shape="round" style="margin-top: 20px;"><ion-icon name="md-create"></ion-icon>&emsp;create</ion-button>
	    	</ion-col>	    	
	  	</ion-row>
	</ion-grid>
</ion-content>
