img.ion_topbar_avatar
{
	width: 26%;
}

ion-title
{
	background-color: #242424;
}

ion-content
{
	--background: #333333;
}

ion-card
{
	background-color: #646464 !important;
	color: #fff;
}

a
{
	color: #fff !important;
}

ion-tab-bar
{
	--background: #333333;
}

ion-tab-button
{
	color: #fff;
}

ion-tab-button.tab-selected
{
	color: #0cd1e8;
}