<ion-header>
  <ion-toolbar>
    <ion-title>
    	<img class="ion_topbar_avatar" src="assets/icon/artcab.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid style="height: 100%;">
	  	<ion-row class="ion-align-items-center ion-justify-content-center" style="height: 80%">
	  		<ion-text>
	    		<h5 style="text-align: center; color: #fff">Welcome to<br><br> <span style="color: #ef5548; font-weight: bold">ArtCab</span><br></h5>
	    	</ion-text>
	    	<ion-fab style="margin-top: 150px;">
	    		<ion-fab-button color="dark" (click)="showOption()"><ion-icon name="arrow-forward"></ion-icon></ion-fab-button>
	    	</ion-fab>
	  	</ion-row>
	</ion-grid>
</ion-content>
