<ion-header>
  	<ion-toolbar>
	    <ion-title class="ion-no-padding">
	    	<ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
	    		<ion-col size="2" class="ion-no-padding">
	    			<ion-back-button style="color: #fff"></ion-back-button>
	    		</ion-col>
	    		<ion-col size="10" class="ion-no-padding">
	    			<img class="ion_topbar_avatar" src="assets/icon/artcab.png">
	    		</ion-col>
	    	</ion-row>    	
	    </ion-title>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid style="height: 100%;">
	  	<ion-row class="ion-align-items-center ion-justify-content-center" style="height: 80%">
	  		<ion-text>
	    		<h5 style="text-align: center; color: #fff">People <span style="color: #5595f6">live</span> and <span style="color: #ef5548">die</span><br><br>Artists <span style="color: #fdc611">die</span> but <span style="color: #49b667">live</span></h5>
	    	</ion-text>
	    	<ion-fab style="margin-top: 150px;">
	    		<ion-fab-button color="dark" (click)="showNetwork()"><ion-icon name="arrow-forward"></ion-icon></ion-fab-button>
	    	</ion-fab>
	  	</ion-row>
	</ion-grid>
</ion-content>
